{
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "root": true,
  "rules": {
    "no-console": ["off"],
    "prettier/prettier": ["error"]
  }
}
